body{
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/01/19/18/02/concerts-1150042_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
#container{
  text-align: center;
}
#container h1{
    margin: 0;
    padding: 35px 0 35px 0;
    color: #ffffff;
    background-color: #00000029;
    text-shadow: 2px 2px 3px #000000;
    font-size: 3.2em;
    letter-spacing: 15px;
    font-family: cursive;
    border-bottom: 3px solid rgba(245, 245, 245, 0.568);
}
#container header{
    background: repeat;
    padding: 0 0 6px 0;
    /* background-image: url(https://cdn.pixabay.com/photo/2016/01/19/18/02/concerts-1150042_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; */
}
#container img{
    display: block;
    height: 470px;
    margin: 28px auto;
    letter-spacing: 13px;
    box-sizing: border-box;
    padding: 15px 0 15px 0;
    width: 35%;
    border: 5px solid #ffffff;
    box-shadow: 5px 5px 7px #000000;
    border-radius: 50px;
    border-bottom: 6px solid #000000;
    /* transform: skewX(0deg); */
}
#container input{
    height: 60px;
    background: #dad9d9e6;
    width: 35%;
    text-align: center;
    font-size: 2.1em;
    display: block;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    box-shadow: 0 0 15px white;
    margin: 13px auto;
    outline: none;
}
#container button {
    height: 60px;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0 0 12px white;
    font-weight: 600;
    width: 200px;
    border-radius: 10px;
    border: 1px #000000 groove;
    font-size: 32px;
    text-shadow: 1px 2px #877d7d;
    background-color: #2b2a2a7a;
    letter-spacing: 5px;
    transition: all .5s;
}
#container button:hover {
    background-color: #201414;
    transform: scale(1.1);
}

#table td.songName{
    background-color: #000000;
    width: 80%;
    /* color: white; */
    box-sizing: border-box;
}
#table td.songName:hover{
background-color: #757575;
}
.table{
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px black;
}
.infoLyrics{
    background-color: #f3efef;}
.infoLyrics:hover{
    background-color: #777777;
}
.infoLyrics a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.table-dark {
    color: #fff;
    background-color: #48484873;
    font-size: 1.2em;
}
#listOfSongs{
    background-color: #ffffffe8;
    /* min-height: 758px; */
    /* min-height: 126px; */
    height: 850px;
    width: 95%;
    margin: 0 auto;
    border-radius: 60px;
}    
#hitsList h1{
    margin: 0;
    padding: 35px 0 35px 0;
    color: #ffffff;
    background-color: transparent;
    text-shadow: 3px 3px 3px #000000;
    font-size: 3.2em;
    letter-spacing: 15px;
    font-weight: 800;
    font-family: cursive;
    border-bottom: none;
}
audio{
    margin: 2% 0 0 0;
    width: 50%;
    height: 80px;
    border-radius: 50px;
    outline: none;
    box-shadow: 3px 4px 5px #000000a6;
    border: 14px solid #67180b45;
}
#song h2, #song h3{
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 2.2em;
    color: #7b7b7b;
}
footer{
    background-color: black;
    height: 100px;
    color: white;
    text-align: center;
    margin: 3% 0 0 0;
}

@media screen and (max-width: 1300px) {
#container img{
    display: block;
    height: 340px;
    margin: 28px auto;
    letter-spacing: 13px;
    box-sizing: border-box;
    padding: 0 0 11px 0;
    width: 40%;
    box-shadow: 0px 0px 28px #040604;
    border-radius: 50px;
    border-bottom: 6px solid #ef2c2c;
}
}
@media screen and (max-width: 950px) {
#container img{
    display: block;
    height: 340px;
    margin: 28px auto;
    letter-spacing: 13px;
    box-sizing: border-box;
    padding: 0 0 11px 0;
    width: 60%;
    box-shadow: 0px 0px 28px #040604;
    border-radius: 50px;
    border-bottom: 6px solid #ef2c2c;
}
}
@media screen and (max-width: 650px) {
#container img{
    display: block;
    height: 340px;
    margin: 28px auto;
    letter-spacing: 13px;
    box-sizing: border-box;
    padding: 0 0 11px 0;
    width: 80%;
    box-shadow: 0px 0px 28px #040604;
    border-radius: 50px;
    border-bottom: 6px solid #ef2c2c;
}
}
